* {
  margin:0;
  padding:0;
  font-family: Roboto;
}

.spcont{
  background: #5b0572; /* Old browsers */
background: -moz-linear-gradient(-45deg, #5b0572 0%, #ad1283 64%, #de47ac 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #5b0572 0%,#ad1283 64%,#de47ac 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #5b0572 0%,#ad1283 64%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b0572', endColorstr='#de47ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: 3;
}

.wlogo {
  width: 70%;
  margin-left: 15%;
  margin-top: 45%;
  }

.bgimg{
  background-image: url("../img/lyft-bg.jpg");
  height: 100vh;/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lg{
  height: 5rem;
}

.pinklg{
    height: 50vh;
   padding-left: 2vh;
}
.login,.signup {
  background-color : #31b0d500;
  color: white;
padding: 4vh 7.5vh;
  border-radius: 4px;
  border-color: #fff;
  margin-bottom: 2%;
}

#btn1{
  position: fixed;
  bottom: -4px;
  left: 10px;
  margin-left: 2%;
}

#btn2{
  position: fixed;
  bottom: -3px;
  right: 10px;
  margin-right: 2%;
}

.backico{
  font-size: 4rem;
}